{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.tests.json"
  },
  "plugins": [
    "import"
  ],
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-mixed-operators": "off",
    "class-methods-use-this": "off"
  }
}
